.header-wrap {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	width: 70%;
	h2 {
		@include font-size(24px,64px);
		color: transparent;
		font-family: $title;
		margin: 0;
		text-align: center;
		text-transform: uppercase;
		-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
	}

	  @media only screen and (max-width: 768px) {
	  	width: 80%;
	  	top: 15%;
	  }
}